@CHARSET "ISO-8859-1";

header{
	font-family: verdana, sans-serif;
	font-size: 14px;
	text-align:left;
	padding:10px;
	border: 2px black solid;
}

nav{
	font-family: verdana, sans-serif;
	font-size:12px;
	line-height: 30px;
	height: 1150px;
	widht: 100px;
	float: left;
	padding:20px;
	border: 2px black solid;
	position:absolute;
	top:20;
	left:1;
} 	

section{
	font-family: verdana, sans-serif;
	font-size: 12px;
	width: 1000px;
	float: left;
	padding: 50px;
	margin: 40px 100px 100px 300px;
}



ul.submenu{
	font-size: 12px;
}

table.points{
	font-size: 10px;
}

#mailicon{
	position: relative;
	left: 40px; top:20px; width:100px; height: 100px;
}

#fhvLogo{
	width: 150px; 
	height: 100px;
}
